<h2>Edit an article</h2>

<%= form_for(@article) do |f| %>
  <ul> 
    <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>



<%= link_to 'Articles_All', articles_path %> </br>
<%= link_to 'Edit_article', edit_article_path(@article) %> </br>
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %> </br>


